.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1000px;
  min-height: 450px;
  margin: 0 auto;
  background-color: #efefef;
  box-shadow: 0 0 10px rgb(94, 218, 69);
  margin-top: 50px;
  padding: 15px 50px;
}

.trnsactions {
  width: 400px
}

.text-center {
  text-align: center;
}

.expense-container {
  width: 400px;
  display: flex;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0 0 10px rgb(94, 218, 69);
}

.transaction-list {
  margin: 0;
  padding: 0;
}

.transaction-list > li {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px rgb(94, 218, 69);
  padding: 10px 5px;
  background-color: white;
  margin: 5px 0;
}

.transaction-form {
  width: 100%;
  margin: 10px 0;
  padding: 5px 0;
}

.input-style {
  width: 400px;
  margin: 10px 0;
}

.input-btn {
  width: 400px;
  height: 25px;
  margin: 10px 0;
  background-color: rgb(94, 218, 69);
}

.history {
  width: 400px;
}
.income {
  color: green;
}
.expense {
  color: red;
}